.content1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 100px;
}
.content2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    margin-left: 350px;
    margin-right:100px;
    margin-top:30px;
}
.content3 {
    font-family: 'Times New Roman', Times, serif;
    margin-left:350px; 
    margin-right:100px;
}
.content4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    margin-left: 350px;
    margin-right: 100px;
    margin-top: 20px;
}